body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    justify-content: center;
    align-items: center;

    height: auto;
    width: 100%;
    max-width: 1400px;
    margin-block-end: 4rem;

    background: none;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 2rem;
}
p, a{
    font-size: 1.6rem;
}
main #main-news-pic{
    width: 90%;

}
main #main-news-pic >img{
    width: 100%;
}

main #news-section{
    display: flex;
    flex-direction: column;

    width: 80%;
}
main #news-section h2{
    align-self: start;

    width: 100%;
    margin-block-start: 4rem;
    padding-block-end: 1rem;

    border-block-end: 1px solid rgba(0, 0, 0, 0.250);
}
main #news-section article .article-title{
    margin-block: 4rem 2.5rem;
}

footer{
    display: flex;
    justify-content: center;

    width: 100%;

    background-color: var(--light-grey);
}
footer .footer-main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
    gap: 2rem;
    
    width: 80%;
    max-width: 1400px;

}
footer .footer-main-container .footer-div-container{
    display: flex;
    align-items: center;
}
footer .footer-main-container .footer-div-container .footer-img-container{
    height: 60%;
    margin-inline-end: 1rem;
}
footer .footer-main-container .footer-div-container .footer-img-container>img{
    height: 100%;
}
footer .footer-main-container .footer-div-container .footer-link-name{
    text-decoration: underline;
}